<div class="container">
    <div class="search">
        <input type="text" style = "width:200px ;height: 25px; margin-right:10px" placeholder = "search by title" #titleValue>
        <button class="search-btn"  (click) = "searchByTitle(titleValue.value)">Search</button>
    </div>
    
    <div class = "add">
        <a routerLink = "../add">
            <button class = "add-btn">AddBook</button>
        </a>
    </div>


</div>

<div *ngFor = "let book of books" class = "book-container">
    <div class = "book">
        <div>
            <strong style = "margin-right: 30px">Title</strong>
            {{ book.title }}
        </div>

        <div>
            <strong style = "margin-right: 16px">Author</strong>
            {{ book.author }}
        </div>
        <div>
            <strong style = "margin-right: 30px">Price</strong>
            {{ book.price }}
        </div>

        <div>
            <button class = "del-btn" (click) = "deleteBook(book)">Delete</button>
            <button class = "edit-btn" (click) = "editBook(book)">edit</button>
            <br /><br />
        </div>
    </div>
</div>