.add {
    margin-left: 60%;
}

.add-btn {
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #03acf5;
}

.book-container {


    display: flex;
    justify-content: center;
   
}

.book {
    width: 80%;
    margin: 20px;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(169, 248, 250);
}

.bookelement {
    width: 100px;
    display: flex;
    justify-content: space-around;

}

.del-btn {
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #f50303;

}

.edit-btn {
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #03acf5;
    margin-top: 10px;
    margin-left: 80%;

}

.container {
    display: flex;
    margin: 2%;
    justify-content:space-evenly
}

.search {

    display: flex;

}

.search-btn {
    height: 30px;
    background-color: rgb(255, 174, 0);
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 4px;
    width: 80px;
}