<div class = "form-container">
    <div class = "flex-item">

        <form [formGroup] = "editBookForm">
            <label class = "label1 author">Author</label> <input type = "text" class = "input" formControlName = "author"><br><br>
            <label class = "label1 price">Price</label> <input type = "text" formControlName = "price"><br><br>
            <label class = "label1 title" >Title</label> <input type = "text" formControlName = "title"><br><br>
            <button class = "upd-btn" (click) = "editBook()">Update</button>
        </form>


    </div>

</div>