.form-container {

    width: 100%;
    height: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-item {
   margin-top: 40px;
    background-color:rgb(223, 225, 225);
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;

}

.label1 {
    color: black;
    font-family: sans-serif;
    width: 40px;
}

.upd-btn {
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    color: white;
    margin-left: 63%;
    background-color: #03ddf5;

}

.price,.title{
    margin-right: 10px;
}
input {
    margin: 10px;
    height: 30px;
    border-radius: 2px;
}