
<div class = "form-container">
    <div class = "flex-item">
        <form [formGroup] = "newBook">
            <label class = "label1">Author</label> <input type = "text" class = "input" formControlName = "author" required><br><br>
            <label class = "label1" style = "margin-right: 6px;">price </label> <input type = "text" formControlName = "price" required><br><br>
            <label class = "label1" style = "margin-right: 14px;">Title</label> <input type = "text" formControlName = "title" required><br><br>
            <button class = "create-btn" type="submit" (click) = "createBook()">createBook</button>
        </form>
    </div>
</div>


