.form-container {

    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.flex-item {
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(212, 255, 255);

}

.label1 {
    color: black;
    font-family: sans-serif;
    width: 40px;
}

.create-btn {
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    color: white;
    margin-left: 63%;
    background-color: #03ddf5;

}


input{
    margin: 10px;
    height: 30px;
    border-radius: 2px;
}
